<!doctype html>
<html>
  <head>
    <meta
      charset="utf-8">
    <meta
      content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"
      name="viewport">

    <title>$$NAME$$ - Demo</title>

    <!-- Web Components polyfill -->
    <script
      src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link
      href="../$$NAME$$.html"
      rel="import">
  </head>
  <body unresolved>
    <$$NAME$$></$$NAME$$>

    <script>
      var el = document.querySelector('$$NAME$$');

      // do some stuff
    </script>
  </body>
</html>
